{% extends "layout.html" %}
{% block body %}

<div data-role="page" id="learn-page" data-dom-cache="true" style="background-image:url({{url_for('static', filename='img/learn_card_front.png')}}); background-size:320px; text-align: center;">
	<a href="#" onclick="goBack()" style="position:absolute; top:5px; left:5px;"><img src="{{url_for('static', filename='img/button/back.png')}}" style="width:70px;" /></a>
<div data-role="content" id="audio">
	<audio id="soundHandle" preload="auto" autobuffer style="display:none"></audio>
</div>
<div data-role="content" id="learn" text-align: center;></div>
<script type="text/javascript">
		$.urlParam = function(name){
    		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
		    return results[1] || 0;
		}
		var concept_chinese = decodeURI($.urlParam('concept'));
		var url = $SCRIPT_ROOT + 
				'/language-learner/concept/'+ concept_chinese;
		$.ajax(url, {
			type: 'GET',
			dataType: 'json',
			success: function(json) {
				var image_file = json.concept[0].image;
				var audio_file = json.concept[0].audio;
				var pinyin = json.concept[0].pinyin;
				var soundHandle = document.getElementById('soundHandle');
				soundHandle.setAttribute('src', audio_file);
				soundHandle.load();
				play_audio(audio_file);
				html = '<div class="title">'+concept_chinese+'</div>\n';
				html = html + '<div class="subtitle">'+pinyin+'</div><br />\n';
				if(image_file != 'None') {
					html = html + '<img src="'+image_file+'" /><br /><br />\n';
				}
				html = html + '<a href="#" onclick="play_audio(\''+audio_file+'\');"><img src=\'{{url_for("static", filename="img/learn_audio.png")}}\' style="width:100px;"/></a><br />\n';
				$("#learn").html(html);
			},
			error: function(xhr, msg, msg2) {
				alert(xhr.status+','+msg+','+msg2);
			}
		});
		function play_audio(audio_file){
			var soundHandle = document.getElementById('soundHandle');
			soundHandle.play();
		}
		$("#learn-page").click(function(e){
			var $r = $('#learn-page');
			var x = Math.floor((e.pageX-$r.offset().left));
			var y = Math.floor((e.pageY-$r.offset().top));
			if(x < 319 && x > 244 && y < 477 && y > 407) {
				document.location.href = $SCRIPT_ROOT + 
				'/language-learner/learn/back/?concept='+ concept_chinese;
			}
		});
</script>
</div>
{% endblock %}

