{% extends "layout.html" %}
{% block body %}

<canvas width="300" height="350" id="myCanvas" style="border:1px solid #c3c3c3;">
	<p>Anything in here will be replaced on browsers that support the canvas element</p>
</canvas>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery.wordcloud.js')}}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var $r = $('#myCanvas');
		$r.wordCloud({wordList: list_chinese, rotateRatio: 0, wordColor: 'language-learning'});
		$("#myCanvas").click(function(e){
			var x = Math.floor((e.pageX-$r.offset().left));
			var y = Math.floor((e.pageY-$r.offset().top));
			for(var i = 0; i < list_chinese.length; ++i) {
				var position = sessionStorage[list_chinese[i][0]].split(",");
				if (x<position[2] && x>position[0]) {
					if (y<position[3] && y>position[1]) {
						alert(list_chinese[i][0]);
						list_chinese[i][1] -= 3;
						$r.wordCloud({wordList: list_chinese, rotateRatio: 0, wordColor: 'language-learning'});
						break;
					}
				}
			}
		});
	});
	var list_chinese = [["咖啡",58, 0, 1],
		["果汁",57, 0, 0.8],
		["現金",48, 1, 0.9],
		["謝謝",41, 3, 0.7],
		["糖",28, 2, 0.5],
		["牛奶",22, 0, 0.8],
		["服務生",32, 3, 1],
		["椅子",35, 4, 0.4]];
</script>

<form action="upload.html" method="get">
	<div>
		You are at <input type="text" id="location" name="location" />
	</div>
	<script>
		navigator.geolocation.getCurrentPosition(
			function(pos) {
				var url = $SCRIPT_ROOT + 
							'/language-learner/location/' + 
							pos.coords.latitude + ',' + pos.coords.longitude;
				$.ajax(url, {
					type: 'GET',
					dataType: 'json',
					success: function(json) {
						$("#location").val(json.location);
					},
					error: function(xhr, msg, msg2) {
						alert(xhr.status+','+msg+','+msg2);
					}
				});
			});
      </script>
      <div>
        <input type="submit" value="Update Location" />
      </div>
    </form>
{% endblock %}
